#tt {position:absolute; display:block;z-index:100;}
#tttop {display:block; height:5px; margin-left:5px;}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:white}
#ttbot {display:block; height:5px; margin-left:5px;}
.cmetg_poweredby {clear:both;float:none;font-size:8px;line-height:1.5;display: inline-block;padding: 3px;margin-top:20px;color:#bbb;text-decoration:none;font-weight:bold}
.cmetg_poweredby:before {content:'Powered by ';}
.cmetg_poweredbylink:link{color:#bbb;text-decoration:none;}
.cmetg_poweredbylink:visited{color:#bbb;text-decoration:none;}
.cmetg_poweredbylink:hover{color:#bbb;text-decoration:none;}
